<h2>Compras</h2>

<br>

<button type="button" class="btn btn-primary btn-lg" ng-click="movementsCtrl.make()">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  Nova compra
</button>

<br><br><br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Produto</th>
      <th>Data</th>
      <th>Preço</th>
      <th>Quantidade</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="movement in movementsCtrl.movements">
      <td>{{movement.id}}</td>
      <td>{{movement.produto}}</td>
      <td>{{movement.data | date}}</td>
      <td>{{movement.preco}}</td>
      <td>{{movement.quantidade}}</td>
    </tr>
  </tbody>
</table>